@mixin bg($value: #fff) {
    background-color: $value;
}

@mixin placeholder($color: #fff) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-input-placeholder {
        color: $color;
    }
}
