@use '../abstracts';

.topbar {
    padding: 24px 56px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        flex-shrink: 0;
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    & > * {
        flex-shrink: 0;
    }
}

.profile {
    @include abstracts.size(48px);
    display: block;
    border-radius: 100rem;
    overflow: hidden;
    img {
        @include abstracts.cover();
    }
}

.button-upload {
    --gap: 6px;
    --padding: 0 16px;
    height: 48px;
    color: abstracts.$gray-natural1;
}

.search {
    @include abstracts.bg(abstracts.$gray-natural2);
    padding: 12px 20px;
    border-radius: 12px;
    @include abstracts.flexBox(center, center, 12px);
    flex: 0 1 360px;

    &-input {
        @include abstracts.bg(transparent);
        @include abstracts.placeholder(abstracts.$gray2);
        flex: 1;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: abstracts.$primary-color;
        caret-color: abstracts.$primary-color;
    }
}
@media screen and (max-width: 1279.98px) {
    .topbar {
        padding: 20px 24px;
    }
    .topbar-action,
    .search,
    .button-upload {
        display: none;
    }
}
