    svg(width="140" height="98" viewBox="0 0 140 98" fill="none" xmlns="http://www.w3.org/2000/svg")
circle(cx="70" cy="70" r="44.5" stroke="url(#paint0_linear_598_42527)" stroke-opacity="0.3" stroke-width="15")
circle(cx="70" cy="70" r="69.5" stroke="url(#paint1_linear_598_42527)" stroke-opacity="0.3")
defs
    linearGradient#paint0_linear_598_42527(x1="-13.5" y1="-26.5" x2="109.5" y2="103" gradientUnits="userSpaceOnUse")
        stop(offset="0.506461" stop-color="#5B6AF8")
        stop(offset="1" stop-color="#C66AE7")
    linearGradient#paint1_linear_598_42527(x1="-42.4039" y1="-59.9038" x2="123.173" y2="114.423" gradientUnits="userSpaceOnUse")
        stop(offset="0.506461" stop-color="#5B6AF8")
        stop(offset="1" stop-color="#C66AE7")