svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(opacity="0.7" d="M14.19 0H5.81C2.17 0 0 2.17 0 5.81V14.18C0 17.83 2.17 20 5.81 20H14.18C17.82 20 19.99 17.83 19.99 14.19V5.81C20 2.17 17.83 0 14.19 0Z" fill="#E5EAF1")
    path(d="M14.42 5.8099V14.1899C14.42 14.8299 13.9 15.3499 13.26 15.3499C12.61 15.3499 12.09 14.8299 12.09 14.1899V5.8099C12.09 5.1699 12.61 4.6499 13.26 4.6499C13.9 4.6499 14.42 5.1699 14.42 5.8099Z" fill="#A5B4CB")
    path(d="M7.90996 10.93V14.19C7.90996 14.83 7.38996 15.35 6.73996 15.35C6.09996 15.35 5.57996 14.83 5.57996 14.19V10.93C5.57996 10.29 6.09996 9.77002 6.73996 9.77002C7.38996 9.77002 7.90996 10.29 7.90996 10.93Z" fill="#A5B4CB")