@use '../abstracts';
.button {
    --gap: 10px;
    --fw: 600;
    --padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    border-radius: 8px;
    font-size: 15px;
    font-weight: var(--fw);
    padding: var(--padding);
    background-color: abstracts.$primary-color;
    &--primary {
        color: abstracts.$gray-natural1;
    }
}
