@use '../abstracts';

.toggle {
    &-main {
        @include abstracts.size(30px, 17px);
        border-radius: 100rem;
        @include abstracts.bg(abstracts.$gray2);
        padding: 1.5px 2px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    input {
        display: none;
        &:checked + .toggle-main .toggle-spinner {
            transform: translateX(12px);
        }
        &:checked + .toggle-main {
            background-image: abstracts.$gradient;
        }
    }
    &-spinner {
        border-radius: 100rem;
        background-color: #fff;
        width: 14px;
        aspect-ratio: 1;
        transition: all 0.2s linear;
    }
}
