@use '../abstracts';
body {
    font-family: abstracts.$font-primary;
    color: abstracts.$text-black1;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
