.widget.widget-podcast 
    +widgetHeader('Top 8 podcast')
    .top-podcast-images
        each val in [1, 2, 3, 4, 5, 6, 7, 8]
            img(src="https://images.unsplash.com/photo-1531934788018-04c3cd417b80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1hY3xlbnwwfHwwfHx8MA%3D%3D" alt="")