.navigation 
    .navigation-item 
        include ../icons/_icon-menu
    .navigation-item 
        include ../icons/_icon-search
    button.navigation-upload.navigation-item
        img(src="./images/icons/icon-upload.svg" alt="")
    .navigation-item 
        img(src="./images/icons/icon-message.svg" alt="")
    .navigation-item 
        img(src="./images/icons/icon-notifi.svg" alt="")
