.topbar
    a.topbar-logo(href="/")
        img(srcSet='./images/logo.png 2x' alt='logo GoCastUI')
    .search 
        img(src="./images/icons/icon-search.svg" alt="icon-search").search-icon
        input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
    .topbar-right
        button.button.button-upload 
            img(src="./images/icons/icon-upload.svg" alt="upload")
            span Upload
        a(href="#").topbar-action
            img(src="./images/icons/icon-message.svg" alt="message")
        a(href="#").topbar-action
            img(src="./images/icons/icon-notifi.svg" alt="notifi")
        a(href="#").profile
            img(src="./images/avatar.jpg" alt="")