aside.sidebar
    a.logo(href="/")
        img(srcSet='./images/logo.png 2x' alt='logo GoCastUI')
    ul.menu
        each item in [{text: 'Home', icon: './images/icons/icon-home.svg'}, {text: 'Trending', icon: './images/icons/icon-chart.svg'}, {text: 'Explore Topics', icon: './images/icons/icon-cube.svg'}, {text: 'Playlist', icon: './images/icons/icon-play.svg'}, {text: 'Subscriptions', icon: './images/icons/icon-subscriptions.svg'}]
            +menu-item(item.text, item.icon)
    ul.menu
        h3.menu-heading Podcasters
        each item in [{text: 'Dashboard', icon: './images/icons/icon-discovery.svg'}, {text: 'Episodes', icon: './images/icons/icon-mic.svg'}]
            +menu-item(item.text, item.icon)
    ul.menu
        h3.menu-heading Community
        each item in ['Leaderboard']
            +menu-item(item)
