.top-bar
    .search 
        img(src="./images/icons/icon-search.svg" alt="icon-search").search-icon
        input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
    .topbar-right